{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}
  <div class='container'>
  {% for item in blog_all_items %}
  <div class="card">
    <h5 class="card-header">{{ item.category }}</h5>
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <h6 class="card-title">{{ item.postdate }}</h6>
      <p class="card-text">{{ item.content }}</p>
      <a href="#" class="btn btn-primary">ボタン</a>
    </div>
  </div>
  {% endfor %}
{% endblock content %}